<section id="{{ page.folder|replace({'_': ''}) }}" class="main style3 primary">
    <div class="content container">
        <header>
            <h2>{{ header.heading }}</h2>
        </header>
        <div align={{ header.text_alignment }} >
            {{ content }}
        </div>
    </div>
</section>
